fastapi==0.95.2
uvicorn[standard]==0.22.0
python-multipart==0.0.9

pydantic==1.10.13
python-dotenv==1.0.1

PyPDF2==3.0.1
pdfplumber==0.11.4
pymupdf==1.24.9

sentence-transformers==2.7.0
# optional
# faiss-cpu==1.13.0

requests==2.32.3
httpx==0.27.2

aiofiles==24.1.0
loguru==0.7.2